@{
    ViewBag.Title = "Lunch Options";
}

<h2>Lunch Options</h2>

<h3>Malmo Arena Lunch</h3>
@foreach (var item in ViewBag.MalmoArenaMenu)
{
    <strong>@item.DayOfTheWeek</strong>@item.Price<br />
    <ul>
    @foreach (var food in item.Items)
    {
            <li>@food.Name</li>
        }
    </ul>
}

<h3>Edge Kitchen Lunch</h3>
@foreach (var item in ViewBag.EdgeKitchenMenu)
{
    <strong>@item.DayOfTheWeek</strong>@item.Price<br />
    <ul>
    @foreach (var food in item.Items)
    {
            <li>@food.Name</li>
        }
    </ul>
}
