@{
    ViewBag.Title = "Lunch Options";
}

<h1>Lunch Options</h1>

<h3>Malmo Arena Lunch</h3>
@foreach (var item in ViewBag.MalmoArenaMenu)
{
    <strong>@item.DayOfTheWeek</strong>
    <span>@item.Price</span>
    <br />
    <ul>
    @foreach (var food in item.Items)
    {
        <li style="@((food.Name.IndexOf(ViewBag.Highlight) >= 0) ? "background: yellow" : "")">@food.Name</li>
    }
    </ul>
}

<h3>Edge Kitchen Lunch</h3>
@foreach (var item in ViewBag.EdgeKitchenMenu)
{
    <strong>@item.DayOfTheWeek</strong>
    <span>@item.Price</span>
    <br />
    <ul>
    @foreach (var food in item.Items)
    {
        <li style="@((food.Name.IndexOf(ViewBag.Highlight) >= 0) ? "background: yellow" : "")">@food.Name</li>
    }
    </ul>
}

<h3>Malmö Opera Lunch</h3>
@foreach (var item in ViewBag.MalmoOperaMenu)
{
    <ul>
    @foreach (var food in item.Items)
    {
        <li style="@((food.Name.IndexOf(ViewBag.Highlight) >= 0) ? "background: yellow" : "")">@food.Name</li>
        @item.Price
    }
    </ul>
}
